[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
watchdog = "*"
yfinance = "*"
plotly = "*"
pystan = "~=2.14"
py-vollib-vectorized = "*"

[requires]
python_version = "3.8.12"


[dev-packages]
autopep8 = "*"
